<template name="filePage">

    <div id="file-modal" tabindex="-1" role="dialog" class="modal fade" data-backdrop="true">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            >&times;</button>
          <h4 class="modal-title">New File</h4>
        </div>
        <div class="modal-body">
          <input name="fileName" id="fileNameInput" class="form-control input-sm" placeholder="myfile.py" /> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="create-file-button" type="button" class="btn btn-primary">Create File</button>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8"> 
            <h3>{{workspace.name}}/{{name}}</h3>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Files <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                {{#each files}}
                  <li><a href="{{pathFor 'file' this}}">{{name}}</a></li>
                  {{/each}}
                  <li><a class="new-file" data-toggle="modal" data-target="#file-modal">New File</a></li>
              </ul>
          </div>
        </div>

      </div> 
      <div class="row">
        <div class="col-md-4 subtle-border">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Hints</th>
              </tr>
            </thead>
            {{#each hints}}
            <tr>
              <td><a href="{{url}}">{{name}}</a></td>
            </tr> 
            {{/each}}

            <tr>
              <td><b>Code Samples</b></td>
            </tr> 

            {{#each code_samples}}
              <tr>
                <td><a href="{{url}}">{{name}}</a></td>
              </tr> 
            {{/each}}
          </table> 

          <button class="btn btn-primary new-file" data-toggle="modal" data-target="#file-modal">New File</button>
        </div>
        <div class="col-md-8">
          <div class="row">
            <textarea id="code-editor">{{code}}</textarea>
          </div>
          <div class="row interact-buttons"> 
            <button type="submit" id="save-file-button" class="btn btn-primary">Save</button>
            <button type="button" id="run-button" class="btn btn-default">Run</button>
          </div>

          <div class="row">
            <textarea id="results-box" readonly="true">{{lastResults}}</textarea>
          </div>
        </div>
      </div>

    </div> 
    {{renderCodeEditor}}    
</template>
