<template name="home">
  <div class="row">
    <div class="jumbotron"> 
      <h1>Code Coach <small class="even-smaller"> programming for the age of StackOverflow</small></h1>
      
      <p>
      When we first started coding, we were told that it was 30% planning, 40%
      implementing, and 30% debugging.  After working at it for a couple years,
      I realized that the reality is that programming is 95% Googling shit.
      Code Coach is a programming environment that acknowledges that fact and
      includes seeking help as a first-class feature.
      </p>
      
      <p><a href="{{aboutPath}}" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
  </div>
</template>
